<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{% endblock %}</title>
    <!-- <link rel="stylesheet" href="/css/style.css"> -->
  </head>
  <body>
    <div class="main">{% block main %}{% endblock %}</div>
  </body>
</html>
