{% extends 'base.html' %} {% block title %}kuudere.moe{% endblock %} {% block
main %}
<div class="center">
  <img class="indexImage" src="/img/bunny_rei.jpg" />
</div>
<div class="center">
  <a class="enterButton" href="/forum/">enter</a>
</div>
{% endblock %}
