{% extends 'base.html' %} {% block title %}kuudere.moe{% endblock %} {% block
main %}
<div class="center">
  <h1><a href="/forum/">kuudere.moe</a></h1>
</div>
<hr />
<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Author</th>
      <th>Created</th>
      <th>Latest Post</th>
    </tr>
  </thead>
  <tbody>
    {% for thread in threads %}
    <tr>
      <td><a href="/forum/{{ thread.post_id }}/">{{ thread.subject }}</a></td>
      <td>{{ thread.name }}</td>
      <td>{{ thread.timestamp }}</td>
      <td>{{ thread.bumptime }}</td>
    </tr>
    {% endfor %}
    <ThreadRow
      v-for="thread in data"
      :key="thread.post_id"
      :data="thread"
    ></ThreadRow>
  </tbody>
</table>
{% endblock %}
