{% extends 'base.html' %} {% block title %}kuudere.moe - {{ posts[0].subject
}}{% endblock %} {% block main %}
<pre>
<a href="#">kuudere.moe</a>

{{ posts[0].subject | figlet }}{% for post in posts %}
{% for i in range(80) %}-{% endfor %}
{{ post.name }}{% for i in range(80 - post.name.length - 34 + ("#" + post.post_id).length) %} {% endfor %}  {{ post.timestamp }} | #{{ post.post_id }}

{{ post.data | wrap | safe }}{% endfor %}
</pre>
{% endblock %}
