html {
  color: black;
  background-color: #dbdcff;
  font-size: 16px;
  font-family: serif;
}
body {
  background-color: white;
  min-height: 100vh;
  max-width: 60em;
  padding: 0px;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
}
.main {
  padding: 1em;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.parent {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 1em;
}
.child {
  width: 100%;
}
a,
a:focus,
a:hover {
  text-decoration: none;
}
.post {
  overflow: auto;
  white-space: pre-wrap;
}
.line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #dbdcff;
  margin: 1em 0;
  padding: 0;
}
h1 a {
  color: black;
  text-decoration: none;
}
.indexImage {
  max-height: 85vh;
  width: auto;
  max-width: 100%;
}
.enterButton,
.enterButton:focus,
.enterButton:hover {
  text-decoration: none;
  color: black;
  font-size: 3em;
}
a,
a:focus,
a:hover {
  text-decoration: none;
}
td,
th {
  padding: 6px;
  border-bottom: 1px solid #dbdcff;
  text-align: left;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th {
  font-weight: bold;
}
@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #dbdcff;
    margin-bottom: 0.5em;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #dbdcff;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  td:nth-of-type(1):before {
    content: "Subject";
  }
  td:nth-of-type(2):before {
    content: "Author";
  }
  td:nth-of-type(3):before {
    content: "Created";
  }
  td:nth-of-type(4):before {
    content: "Latest Post";
  }
}
